img {
  max-width: 100%;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: 1fr min(69.375rem, calc(100% - 3rem)) 1fr;
  margin-block: var(--spacing-300);
}

.container > * {
  grid-column: 2;
}

.grid-container {
  display: grid;
  row-gap: var(--spacing-400);
}

.main-heading {
  color: var(--rose-900);
  margin-bottom: var(--spacing-400);
}

.section-heading {
  color: var(--red);
  text-transform: capitalize;
  margin-bottom: var(--spacing-300);
}

.btn__add-to-cart {
  border-radius: 999px;
  font-size: var(--text-sm);
  padding: var(--spacing-150) var(--spacing-300);
  border: 1px solid var(--rose-400);
  background-color: var(--white);
  color: var(--rose-900);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-100);
  white-space: nowrap;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
}

.product__list {
  display: grid;
  gap: var(--spacing-300);
}

/* Cart */
.cart {
  background-color: var(--white);
  padding: var(--spacing-300);
  border-radius: 12px;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.cart__empty-text {
  color: var(--rose-500);
}

@media (min-width: 40rem) {
  .product__list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-300);
    row-gap: var(--spacing-400);
  }
}

@media (min-width: 64rem) {
  .grid-container {
    grid-template-columns: 2fr 1fr;
    column-gap: var(--spacing-400);
    align-items: start;
  }
}
