* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --red: hsl(14, 86%, 42%);

  --green: hsl(159, 69%, 38%);

  --rose-900: hsl(14, 65%, 9%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-50: hsl(20, 50%, 98%);

  --spacing-1100: 5.5rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-50: 0.25rem;

  --text-xl: clamp(2.5rem, 4vw + 1rem, 3.5rem);
  --text-lg: 1.5rem;
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
}

body {
  background-color: var(--rose-50);
}

ul {
  list-style: none;
}

.text-preset-1 {
  font-size: var(--text-xl);
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-2 {
  font-size: var(--text-lg);
  line-height: 125%;
  letter-spacing: 0;
  font-weight: 700;
}

.text-preset-3 {
  font-size: var(--text-base);
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 600;
}

.text-preset-4 {
  font-size: var(--text-sm);
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 400;
}

.text-preset-4--bold {
  font-size: var(--text-sm);
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 600;
}
